server:
  port: 8031
eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
  instance:
    #instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    instanceId: ${spring.application.name}:${spring.cloud.client.ipAddress}:${server.port}
spring:
  zipkin:
    base-url: http://127.0.0.1:9411
  sleuth:
    sampler:
      percentage: 1.0

